{% extends 'base.html.twig' %}

{% block title %}Hello AlertController!{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% component 'Alert' %}
        {% endcomponent %}
        <twig:Button:Primary text="Submit" />
    </div>
{% endblock %}
